<h1>Editing Property</h1>


<div class="container">
    <%= render 'form', property: @property %>
</div>

<%= link_to 'Show', [@project, @property] %> |
<%= link_to 'Back', project_properties_path %>
